:root {
    --texto-1: #141413;
    --bege: #E8D6A4;
    --cinza: #E3DED1;
    --cinza-2: #ADAAA0;
    --preto: #000;
    --branco: #fff;
    --morningroutine-1: #A69D8D;
    --morningroutine-2: #736555;
    --morningroutine-3: #3B220C;
    --morningroutine-4: #504237;
    --morningroutine-5: #201E21;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

/*Estilização da navbar*/
#navbar {
    background: linear-gradient(to bottom, var(--cinza), rgba(255, 255, 255, 0));
}

#navbar.scrolling-up {
    position: fixed;
    z-index: 20000;
    background-color: var(--branco);
    top: 0;
    width: 100%;
    animation: aparecerDeCima 0.6s ease;
}

#navbar.scrolling-down {
    top: -100px; /* Esconda a navegação fora da tela */
    transition: top 0.3s ease-in-out; /* Adicione uma transição suave para a animação */
}

/*Estilização do banner*/
.banner {
    background-image: url('../img/banner.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

#banner {
    width: 100%;
    height: 96vh;
}

.banner-text {
    height: 60vh;
    width: 40vw;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
}

.borda {
    padding-top: 3em;
    border-radius: 20px;
    background-color: var(--branco);
}

.bg-bege {
    background-color: var(--bege);
}

.bg-cinza {
    background-color: var(--texto-1);
}

.bg-cinza-claro {
    background-color: var(--cinza-2);
}

.bg-cinza-claro-2 {
    background-color: var(--cinza);
}

.bg-escuro {
    background-color: var(--morningroutine-5);
}

/*media querry*/

@media screen and (max-width: 768px) {
    .banner {
        background-image: url('../img/banner-celular.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        background-attachment: fixed;
    }

    .sumir-sm {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .sumir-md {
        display: none;
    }
}

/*Animações*/
@keyframes aparecerDeCima {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  
@keyframes aparecerDeBaixo {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
  

  
  