:root {
    --texto-1: #141413;
    --bege: #E8D6A4;
    --cinza: #E3DED1;
    --cinza-2: #ADAAA0;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

/*Estilização da navbar*/
#navbar {
    background: linear-gradient(to bottom, var(--cinza), rgba(255, 255, 255, 0));
}

/*Estilização do banner*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.banner-text {
    height: 60vh;
    width: 40vw;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bold;
} 

.bg-bege {
    background-color: var(--bege);
}

.bg-cinza {
    background-color: var(--texto-1);
}

.bg-cinza-claro {
    background-color: var(--cinza-2);
}

.bg-cinza-claro-2 {
    background-color: var(--cinza);
}

.icon-link {
    display: inline-block;
    margin-right: 0.5rem; /* Ajuste o espaçamento entre os ícones conforme necessário */
}


/*media querry*/

@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
        height: 100vh;
        background-image: url('../img/banner-celular.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        background-attachment: fixed;
    }

    .sumir-sm {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .sumir-md {
        display: none;
    }
}